.gradient-text {
  background-image: linear-gradient(149deg, rgba(171,52,255,1) 0%, rgba(111,55,255,1) 51%, rgba(73,53,255,1) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.center-screen {
  display: flex;
  //position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  //left: 11%;
  //min-height: 100vh;
}

#doneButton {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  color:rgba(171,52,255,1);
}

.set-right {
  margin-left: auto;
  margin-right: 20px;
}

.level{
  font-size: 17.5px;
}
ion-content{

  --ion-background-color: #0a0a0a;
}

ion-toolbar{

  --background: #0a0a0a!important;
}
ion-radio{
  color:purple;
}
.datetime-time{
  color:#0a0a0a!important;
}
